@{
    ViewBag.Title = "About David Nelson";
}
<h1>@ViewBag.Title.</h1>

<h3>Skills</h3>
<ul>
    <li>
        <strong>Languages</strong>
        &ndash; JavaScript, C#, Typescript, PowerShell, Java
    </li>
    <li>
        <strong>Web Technologies</strong>
        &ndash;  HTML5, Angular, Angular 2, npm, bower, gulp, CSS, SASS, Responsive
        Web Design, jQuery, ASP.NET web forms, ASP
    </li>
    <li>
        <strong>Applications</strong>
        - Visual Studio 2015, Visual Studio Code, git, Adobe AEM/CQ5, Eclipse,
        Maven, Sitecore, Subversion
    </li>
    <li>
        <strong>Databases </strong>
        &ndash;  T-SQL, SQL Server, Oracle, Toad, PL/SQL
    </li>
</ul>
<h2>
    Work Experience
</h2>
<h3>
    Senior Software Engineer
</h3>
<h5>
    9/2014 to Present &ndash;  AdvancedMD, South Jordan, Utah
</h5>
<p>
    Duties include full stack development using Angular hosted in SharePoint,
    systems analysis, and creation of AngularJS coding guidelines.
</p>
<ul>
    <li>
        Developed the AdvancedInsight UI in AngularJS including creation of a
        REST web service to facilitate custom operations on the underlying
        SharePoint 2010 system. This included creation of gulp.js build scripts to
        bundle the UI for deployment.
    </li>
    <li>
        Developed the AdvancedBenchmarking UI in AngularJS and participated in
        the development of its REST service using .NET Core. This included work
        with SQL stored procedures and creation of gulp.js build scripts to bundle
        the UI for deployment.
    </li>
    <li>
        Enhanced the gulp.js build scripts used to bundle the PracticeManager UI
        for deployment.
    </li>
    <li>
        Developed a series of powershell scripts for SharePoint 2010 for project
        compilation, deployment, and maintenance of AdvancedInsight.
    </li>
    <li>
        Developed a Windows service which updates the SharePoint 2010 database
        connections.
    </li>


</ul>
<h3>
    Lead Software Engineer
</h3>
<h5>
    1/2005 to 9/2014 &ndash; UnitedHealth Group, Inc., West Valley
    City, Utah
</h5>
<p>
    Duties included web UI and back-end development, developer training and
    mentoring, systems analysis, creation of coding standards, technical
    specifications, task breakdown and supervision.
</p>
<ul>
    <li>
        Led the conversion of Optum.com to Adobe CQ 5.6 in Java using the agile
        software development process. This site uses HTML5, jQuery and RWD to
        support multiple devices and browsers.
    </li>
    <li>
        Configured the Maven build configuration and continuous integration setup
        in TeamCity.
    </li>
    <li>
        Designed and implemented a reusable Java web crawler to import old
        websites into AEM.
    </li>
    <li>
        Participated in the conversion of our e-commerce web site from ASP to
        ASP.NET, using WCF services as a façade for the company’s proprietary
        inventory management database.
    </li>
</ul>
<h3>
    Senior Web Programmer
</h3>
<h5>
    3/2001 to 2005 &ndash; UnitedHealth Group, Inc., West Valley
    City, Utah
</h5>
<p>
    Duties included customer requirement gathering, system design, database
    modeling and development.
</p>
<ul>
    <li>
        Led the conversion of three small e-commerce websites, previously written
        in Microsoft Site Server, to a single website written in ASP/VBScript using
        COM+ Objects with a Microsoft SQL Server 2000 views and stored procedures.
    </li>
    <li>
        Developed a file sharing website for delivering files to Ingenix
        customers. This was implemented using ASP.NET and SQL Server 2000, with a
        directory monitor service for file uploads.
    </li>
    <li>
        Participated in the development of a new ASP.NET web interface for the
        Ingenix iCES product. This system used a SOA with Oracle 9i and .NET
        Remoting in the back-end and used CSS, DHTML and AJAX, ASP.NET in C# for
        the user interface.
    </li>
</ul>
<h3>
    Senior Web Programmer
</h3>
<h5>
    9/2000 to 2001 &ndash;  Atmedica USA (Formerly DoHealth), Salt Lake City, Utah
</h5>
<ul>
    <li>
        Developed a customized Health Information web site for external business
        clients.
    </li>
    <li>
        Technologies used included ASP, VBScript, Jscript, JavaScript, HTML,
        Microsoft SQL Server, and COM components written in Visual Basic 6.
    </li>
</ul>
<h3>
    Programmer Analyst II
</h3>
<h5>
    4/1997 to 2000 &ndash;  NEC Computers Inc., Sacramento, CA
</h5>
<p>
    Built web based knowledge management systems. Technologies used include
    HTML, Visual Basic, ASP, ASP Remote Scripting, VBScript, JavaScript and
    Visual Basic 6, Cold Fusion, MS SQL server.
</p>

<ul>
    <li>
        Implemented a small web-based customer contact point tracking
        application.
    </li>
    <li>
        Implemented a document lookup tool allowing document lookup by the PC
        serial number.
    </li>
    <li>
        Consolidated customer registration information scattered in many flat
        files and access databases, cleansed it, and imported it into a single
        normalized, relational database.
    </li>
</ul>
<h2>
    Education
</h2>
<h3>
    Weber State University &ndash;  Ogden, UT
</h3>
<p>
    Bachelor's degree in CS, Software Engineering, August 2012 &ndash;  Summa Cum
    Laude (GPA of 3.95)
</p>
<ul>
    <li>
        Courses included Java, Advanced Java (Spring MVC), Artificial
        Intelligence, Compiler Design, Oracle PL/SQL Database Design, C++, C#, and
        Microsoft WPF.
    </li>
</ul>
<h3>
    Salt Lake Community College &ndash;  Salt Lake City, UT
</h3>
<p>
    Associate of Science in General Education, September 1996 &ndash;  emphasis in
    Computer Aided Design
</p>
<h2>
    Training &amp; Certifications
</h2>
<ul>
    <li>
        Adobe CQ5.6 Advanced Developer Training &ndash;  Lehi, UT &ndash;  February 2014
    </li>
    <li>
        Adobe CQ5.5 Developer Training &ndash;  Lehi, UT &ndash;  February 2013
    </li>
    <li>
        Sitecore Certified Developer &ndash;  San Francisco, CA &ndash;  February 2011
    </li>
    <li>
        CompTIA A+ Certified Service Technician &ndash;  Lombard, Illinois &ndash;  February
        1996
    </li>
</ul>
<br />
<h3>Website Attributions</h3>
<dl>
    <dt>Carrot icon</dt>
    <dd><a href="http://www.iconarchive.com/show/veggers-icons-by-robinweatherall/Carrot-icon.html">by Robin Weatherall</a></dd>
    <dt>Vegetable home background</dt>
    <dd><a href="https://www.pexels.com/photo/food-healthy-vegetables-potatoes-5205/">by Ed Gregory</a></dd>
    <dt>Parallax effect</dt>
    <dd><a href="https://www.bootply.com/OjJ1hQCxdR">from Bootply</a></dd>
</dl>
