@{
    ViewBag.Title = "Home Page";
}

<div class="bg"></div>
<div class="jumbotron">
    <h1>Food Calorie Tracker</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Rolling down the track, ain't no lie hoecake a poor wayfaring stranger home sweet the gents and the gamblers all standing around wildwood flower sun would never shine? Buried in the ground they're gonna take Sadie to the burying ground lonesome. Seaport town. Chickens in the sack hot corn rolling down the track aces backed with eights? Hang your head and cry mule skinner old Number Nine Juney bug the gents and the gamblers all standing around ain't coming back. The sooner I will marry? Constant sorrow hoecake black as coal seaport town John Henry pickle my bones in alcohol Jack-a-Diamonds constant sorrow lonesome jug Willie. Troublin' mind gravy? Standing on the corner.</p>

        <p>Peg and awl, rye whiskey, baby on her knee o'er Jordan loved another man stranger when I was a little boy in my sweet baby's arms. She's a pretty bird steel driving crew, turkey in the straw out in the kitchen cold wind blows! Jimmy crack corn and I don't care you've robbed my poor pocket, a poor wayfaring stranger baby on her knee wheel hoss, work one day hoecake rye whiskey, the cuckoo.</p>

        <p>Dead in my grave, ain't laid an egg since way last spring rolling down the track the sooner I will marry weevil handsome don't belong to you? In my sweet baby's arms dark clouds will gather 'round me Willie hopalong. One arm round my whiskey keg has been the ruin of me. Peg and awl, weevil poor boy wildwood flower! Sugar baby soldier's joy John Henry! In bed with a hog-eyed man pickle my bones in alcohol rolling down the track peg and awl? When I'm gone they're gonna take Sadie to the burying ground all you rounders pretty Polly, when I'm gone.</p>

        <p>Hot corn. In bed with a hog-eyed man dark clouds will gather 'round me John Henry lonesome I woke next morning 'bout half past nine constant sorrow dark clouds will gather 'round me hang your head and cry, nine-pound hammer what I had done stranger pretty girl the other one round my girl wreck of the old number five the buggies and the hacks all formed in line John Henry seaport town troublin' mind nine-pound hammer? All you rounders sugar baby, poor boy they're gonna take Sadie to the burying ground she's a pretty bird, Jimmy crack corn and I don't care where the sun never shines. Hot corn. Gravy on the run you've robbed my poor pocket.</p>

        <p>Sally Ann. Hang your head and cry, steel driving crew. Buried in the ground Uncle John traveling through this world of woe handsome seaport town mule skinner run she's a pretty bird the gents and the gamblers all standing around lonesome Jimmy crack corn and I don't care wheel hoss went a court'n shady grove, loved another man where the sun never shines standing on the corner. Walking boss they're gonna take Sadie to the burying ground! When I was a little boy and I ain't comin' back down to the river, Jack-a-Diamonds! Coming down the track. Pickle my bones in alcohol, has been the ruin of me!</p>

        <p>Jug what I had done the other one round my girl old Number Nine, and I ain't comin' back chickens in the sack gravy going to town! Old Number Nine run. Pretty Polly, buried in the ground Sally Ann chickens in the sack what I had done foggy mountain top work one day gravy when I'm gone Juney bug Jack-a-Diamonds jug they're gonna take Sadie to the burying ground five dollars. Old Number Nine coming down the track. Peg and awl. The buggies and the hacks all formed in line lonesome.</p>

        <p>Jimmy crack corn and I don't care! Willie troublin' mind, hopalong, cold wind blows. Loved another man milked her in a gourd, has been the ruin of me? Wildwood flower foggy mountain top has been the ruin of me, Sally Ann. Handsome work one day ain't no lie hang your head and cry wildwood flower baby on her knee loved another man when I'm gone buried in the ground ain't no lie dark clouds will gather 'round me, in my sweet baby's arms when I was a little boy traveling through this world of woe.</p>

        <a href="http://hillbillyipsum.com">from hillbillyipsum.com</a>
    </div>
</div>